<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StatsEntities" connectionString="metadata=res://*/clsGame.csdl|res://*/clsGame.ssdl|res://*/clsGame.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.46;initial catalog=STATS;user id=luisma;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>