USE [DonBest]
GO
/****** Object:  Table [dbo].[mlb_game]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mlb_game](
	[id_game] [int] IDENTITY(1,1) NOT NULL,
	[game_date] [datetime] NULL,
	[game_id_team_home] [int] NOT NULL,
	[game_id_team_away] [int] NOT NULL,
	[game_name_team_home] [varchar](max) NULL,
	[game_name_team_away] [varchar](max) NOT NULL,
	[game_name_pitcher_home] [varchar](max) NULL,
	[game_name_pitcher_away] [varchar](max) NULL,
	[game_pitcher_home_ERA] [float] NULL,
	[game_pitcher_away_ERA] [float] NULL,
	[updated] [bit] NULL,
	[insert_date] [datetime] NULL,
	[last_update_date] [datetime] NULL,
	[last_version] [bit] NULL,
	[game_team_home_L10] [nchar](10) NULL,
	[game_team_home_win] [int] NULL,
	[game_team_home_lost] [int] NULL,
	[game_team_home_position] [int] NULL,
	[game_team_away_L10] [nchar](10) NULL,
	[game_team_away_win] [int] NULL,
	[game_team_away_lost] [int] NULL,
	[game_team_away_position] [int] NULL,
 CONSTRAINT [PK_mlb_game] PRIMARY KEY CLUSTERED 
(
	[id_game] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mlb_game_history]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mlb_game_history](
	[id_game_history] [int] IDENTITY(1,1) NOT NULL,
	[id_game] [int] NOT NULL,
	[game_date] [datetime] NULL,
	[game_id_team_home] [int] NOT NULL,
	[game_id_team_away] [int] NOT NULL,
	[game_name_team_home] [varchar](max) NULL,
	[game_name_team_away] [varchar](max) NOT NULL,
	[game_name_pitcher_home] [varchar](max) NULL,
	[game_name_pitcher_away] [varchar](max) NULL,
	[game_pitcher_home_ERA] [float] NULL,
	[game_pitcher_away_ERA] [float] NULL,
	[updated] [bit] NULL,
	[insert_date] [datetime] NULL,
	[last_update_date] [datetime] NULL,
	[last_version] [bit] NULL,
	[game_team_home_L10] [nchar](10) NULL,
	[game_team_home_win] [int] NULL,
	[game_team_home_lost] [int] NULL,
	[game_team_home_position] [int] NULL,
	[game_team_away_L10] [nchar](10) NULL,
	[game_team_away_win] [int] NULL,
	[game_team_away_lost] [int] NULL,
	[game_team_away_position] [int] NULL,
 CONSTRAINT [PK_mlb_game_history] PRIMARY KEY CLUSTERED 
(
	[id_game_history] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mlb_pitcher]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mlb_pitcher](
	[id_pitcher] [int] IDENTITY(1,1) NOT NULL,
	[pitcher_name] [varchar](max) NULL,
	[pitcher_era] [float] NULL,
	[pitcher_last3_era] [float] NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
 CONSTRAINT [PK_mlb_pitcher] PRIMARY KEY CLUSTERED 
(
	[id_pitcher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mlb_serie]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mlb_serie](
	[id_serie] [int] IDENTITY(1,1) NOT NULL,
	[mlb_game_id] [int] NOT NULL,
	[mlb_quantity_games] [int] NULL,
 CONSTRAINT [PK_mlb_serie] PRIMARY KEY CLUSTERED 
(
	[id_serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mlb_team]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mlb_team](
	[id_team] [int] IDENTITY(1,1) NOT NULL,
	[team_name] [varchar](max) NOT NULL,
	[insert_date] [datetime] NULL,
	[L10] [varchar](50) NULL,
	[actualPosition] [int] NULL,
	[league] [varchar](50) NULL,
	[division] [varchar](50) NULL,
	[last_update_date] [datetime] NULL,
	[win] [int] NULL,
	[lost] [int] NULL,
 CONSTRAINT [PK_mlb_team] PRIMARY KEY CLUSTERED 
(
	[id_team] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mlb_team_history]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mlb_team_history](
	[id_team_history] [int] IDENTITY(1,1) NOT NULL,
	[id_team] [int] NOT NULL,
	[insert_date] [datetime] NOT NULL,
	[L10] [nchar](10) NOT NULL,
	[position] [int] NOT NULL,
	[win] [int] NULL,
	[lost] [int] NULL,
 CONSTRAINT [PK_mlb_team_history] PRIMARY KEY CLUSTERED 
(
	[id_team_history] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[mlb_teams_history]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[mlb_teams_history]
AS
SELECT        dbo.mlb_team.team_name, dbo.mlb_team_history.*
FROM            dbo.mlb_team INNER JOIN
                         dbo.mlb_team_history ON dbo.mlb_team.id_team = dbo.mlb_team_history.id_team

GO
/****** Object:  View [dbo].[view_schedule_mlb]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_schedule_mlb]
AS
SELECT        TOP (1000) id_game, game_date, game_name_team_home, game_name_team_away, game_name_pitcher_home, game_name_pitcher_away, game_pitcher_home_ERA, game_pitcher_away_ERA, updated, 
                         insert_date, last_update_date, game_id_team_home, game_id_team_away, game_team_home_L10, game_team_home_win, game_team_home_lost, game_team_home_position, game_team_away_L10, 
                         game_team_away_win, game_team_away_lost, game_team_away_position
FROM            dbo.mlb_game
WHERE        (last_version = 1)
ORDER BY game_date, id_game

GO
SET IDENTITY_INSERT [dbo].[mlb_game] ON 

GO
SET IDENTITY_INSERT [dbo].[mlb_game] OFF
SET IDENTITY_INSERT [dbo].[mlb_game_history] ON 

SET IDENTITY_INSERT [dbo].[mlb_game_history] OFF
SET IDENTITY_INSERT [dbo].[mlb_pitcher] ON 

INSERT [dbo].[mlb_pitcher] ([id_pitcher], [pitcher_name], [pitcher_era], [pitcher_last3_era], [insert_date], [update_date]) VALUES (1, N'J. deGrom (R)', 3.8299999237060547, NULL, CAST(N'2017-08-31 09:57:11.067' AS DateTime), NULL)
INSERT [dbo].[mlb_pitcher] ([id_pitcher], [pitcher_name], [pitcher_era], [pitcher_last3_era], [insert_date], [update_date]) VALUES (2, N'R. Stephenson (R)', 5.179999828338623, NULL, CAST(N'2017-08-31 09:57:11.090' AS DateTime), NULL)
INSERT [dbo].[mlb_pitcher] ([id_pitcher], [pitcher_name], [pitcher_era], [pitcher_last3_era], [insert_date], [update_date]) VALUES (3, N'M. Gonzalez (R)', 5.2899999618530273, NULL, CAST(N'2017-08-31 09:57:11.140' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[mlb_pitcher] OFF
SET IDENTITY_INSERT [dbo].[mlb_team] ON 

INSERT [dbo].[mlb_team] ([id_team], [team_name], [insert_date], [L10], [actualPosition], [league], [division], [last_update_date], [win], [lost]) VALUES (1, N'Baltimore Orioles', CAST(N'2017-08-29 11:58:32.477' AS DateTime), N'8-2', 3, N'AMERICAN', N'EAST', CAST(N'2017-09-01 09:42:09.230' AS DateTime), 68, 66)
INSERT [dbo].[mlb_team] ([id_team], [team_name], [insert_date], [L10], [actualPosition], [league], [division], [last_update_date], [win], [lost]) VALUES (2, N'Seattle Mariners', CAST(N'2017-08-29 11:58:35.920' AS DateTime), N'3-7', 4, N'AMERICAN', N'WEST', CAST(N'2017-08-31 16:27:39.820' AS DateTime), 66, 68)
INSERT [dbo].[mlb_team] ([id_team], [team_name], [insert_date], [L10], [actualPosition], [league], [division], [last_update_date], [win], [lost]) VALUES (3, N'New York Yankees', CAST(N'2017-08-29 11:58:46.300' AS DateTime), N'5-5', 2, N'AMERICAN', N'EAST', CAST(N'2017-09-01 09:42:09.213' AS DateTime), 71, 62)
SET IDENTITY_INSERT [dbo].[mlb_team] OFF
SET IDENTITY_INSERT [dbo].[mlb_team_history] ON 

INSERT [dbo].[mlb_team_history] ([id_team_history], [id_team], [insert_date], [L10], [position], [win], [lost]) VALUES (1, 10, CAST(N'2017-08-31 16:30:51.947' AS DateTime), N'5-5       ', 1, 76, 57)
INSERT [dbo].[mlb_team_history] ([id_team_history], [id_team], [insert_date], [L10], [position], [win], [lost]) VALUES (2, 3, CAST(N'2017-08-31 16:30:51.983' AS DateTime), N'4-6       ', 2, 70, 62)
INSERT [dbo].[mlb_team_history] ([id_team_history], [id_team], [insert_date], [L10], [position], [win], [lost]) VALUES (3, 22, CAST(N'2017-08-31 16:30:52.000' AS DateTime), N'7-3       ', 4, 67, 68)
SET IDENTITY_INSERT [dbo].[mlb_team_history] OFF
/****** Object:  StoredProcedure [dbo].[setAllGamesNotUpdated]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[setAllGamesNotUpdated]
    -- Add the parameters for the stored procedure here
   
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    Update [DonBest].[dbo].[mlb_game] 
    set updated=0;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_setAllGamesNotUpdated]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[sp_setAllGamesNotUpdated]
    -- Add the parameters for the stored procedure here
    @game_date_start datetime,
    @game_date_end datetime

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    Update [DonBest].[dbo].[mlb_game] 
    set last_version='0'
	where (game_date<= @game_date_start and game_date> @game_date_end)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_setGamesNotLastVersion]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[sp_setGamesNotLastVersion]
    -- Add the parameters for the stored procedure here
    @game_date_start datetime,
    @game_date_end datetime

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    Update [DonBest].[dbo].[mlb_game] 
    set last_version='0'
	where (game_date>= @game_date_start and game_date< @game_date_end)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMLBGame]    Script Date: 9/1/2017 1:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[sp_UpdateMLBGame]
    -- Add the parameters for the stored procedure here
    @game_id int,
    @game_name_team_home varchar(50),
    @game_name_team_away varchar(50)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    Update [DonBest].[dbo].[mlb_game] 
    set game_name_team_home = @game_name_team_home,
	game_name_team_away= @game_name_team_away
    where game_id = @game_id;

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[29] 4[23] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "mlb_team"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 215
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "mlb_team_history"
            Begin Extent = 
               Top = 6
               Left = 253
               Bottom = 136
               Right = 425
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 2595
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'mlb_teams_history'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'mlb_teams_history'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[27] 4[4] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "mlb_game"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 270
            End
            DisplayFlags = 280
            TopColumn = 12
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 2490
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1965
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_schedule_mlb'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_schedule_mlb'
GO
