USE [DonBest]
GO
/****** Object:  Table [dbo].[mlb_game]    Script Date: 8/31/2017 7:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mlb_game](
	[id_game] [int] IDENTITY(1,1) NOT NULL,
	[game_date] [datetime] NULL,
	[game_serie_id] [int] NOT NULL,
	[game_number] [int] NULL,
	[game_id_team_home] [int] NOT NULL,
	[game_id_team_away] [int] NOT NULL,
	[game_name_team_home] [varchar](max) NULL,
	[game_name_team_away] [varchar](max) NOT NULL,
	[game_name_pitcher_home] [varchar](max) NULL,
	[game_name_pitcher_away] [varchar](max) NULL,
	[game_pitcher_home_ERA] [float] NULL,
	[game_pitcher_away_ERA] [float] NULL,
	[updated] [bit] NULL,
	[insert_date] [datetime] NULL,
	[last_update_date] [datetime] NULL,
	[last_version] [bit] NULL,
 CONSTRAINT [PK_mlb_game] PRIMARY KEY CLUSTERED 
(
	[id_game] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mlb_pitcher]    Script Date: 8/31/2017 7:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mlb_pitcher](
	[id_pitcher] [int] IDENTITY(1,1) NOT NULL,
	[pitcher_name] [varchar](max) NULL,
	[pitcher_era] [float] NULL,
	[pitcher_last3_era] [float] NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
 CONSTRAINT [PK_mlb_pitcher] PRIMARY KEY CLUSTERED 
(
	[id_pitcher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mlb_serie]    Script Date: 8/31/2017 7:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mlb_serie](
	[id_serie] [int] IDENTITY(1,1) NOT NULL,
	[mlb_game_id] [int] NOT NULL,
	[mlb_quantity_games] [int] NULL,
 CONSTRAINT [PK_mlb_serie] PRIMARY KEY CLUSTERED 
(
	[id_serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mlb_team]    Script Date: 8/31/2017 7:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mlb_team](
	[id_team] [int] IDENTITY(1,1) NOT NULL,
	[team_name] [varchar](max) NOT NULL,
	[insert_date] [datetime] NULL,
	[L10] [varchar](50) NULL,
	[actualPosition] [int] NULL,
	[league] [varchar](50) NULL,
	[division] [varchar](50) NULL,
	[last_update_date] [datetime] NULL,
	[win] [int] NULL,
	[lost] [int] NULL,
 CONSTRAINT [PK_mlb_team] PRIMARY KEY CLUSTERED 
(
	[id_team] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[mlb_game] ON 

INSERT [dbo].[mlb_game] ([id_game], [game_date], [game_serie_id], [game_number], [game_id_team_home], [game_id_team_away], [game_name_team_home], [game_name_team_away], [game_name_pitcher_home], [game_name_pitcher_away], [game_pitcher_home_ERA], [game_pitcher_away_ERA], [updated], [insert_date], [last_update_date], [last_version]) VALUES (1, CAST(N'2017-08-25 19:05:00.000' AS DateTime), 1, 20, 20, 20, N'Seattle Mariners', N'New York Yankees', N'A. Miranda (L)', N'C. Sabathia (L)', 6.190000057220459, 5.679999828338623, 0, NULL, NULL, NULL)
INSERT [dbo].[mlb_game] ([id_game], [game_date], [game_serie_id], [game_number], [game_id_team_home], [game_id_team_away], [game_name_team_home], [game_name_team_away], [game_name_pitcher_home], [game_name_pitcher_away], [game_pitcher_home_ERA], [game_pitcher_away_ERA], [updated], [insert_date], [last_update_date], [last_version]) VALUES (2, CAST(N'2017-08-25 19:05:00.000' AS DateTime), 1, 20, 20, 20, N'New York Mets', N'Washington Nationals', N'J. deGrom (R)', N'A. Cole (R)', 4.070000171661377, 5.7300000190734863, 0, NULL, NULL, NULL)
INSERT [dbo].[mlb_game] ([id_game], [game_date], [game_serie_id], [game_number], [game_id_team_home], [game_id_team_away], [game_name_team_home], [game_name_team_away], [game_name_pitcher_home], [game_name_pitcher_away], [game_pitcher_home_ERA], [game_pitcher_away_ERA], [updated], [insert_date], [last_update_date], [last_version]) VALUES (3, CAST(N'2017-08-25 19:05:00.000' AS DateTime), 1, 20, 20, 20, N'Chicago Cubs', N'Philadelphia Phillies', N'J. Quintana (L)', N'J. Eickhoff (R)', 2.369999885559082, 3.8299999237060547, 0, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[mlb_game] OFF
SET IDENTITY_INSERT [dbo].[mlb_pitcher] ON 

INSERT [dbo].[mlb_pitcher] ([id_pitcher], [pitcher_name], [pitcher_era], [pitcher_last3_era], [insert_date], [update_date]) VALUES (2, N'E. Ramirez (R)', 5.8899998664855957, NULL, CAST(N'2017-08-29 14:21:46.330' AS DateTime), NULL)
INSERT [dbo].[mlb_pitcher] ([id_pitcher], [pitcher_name], [pitcher_era], [pitcher_last3_era], [insert_date], [update_date]) VALUES (3, N'D. Bundy (R)', 3.869999885559082, NULL, CAST(N'2017-08-29 14:22:11.437' AS DateTime), NULL)
INSERT [dbo].[mlb_pitcher] ([id_pitcher], [pitcher_name], [pitcher_era], [pitcher_last3_era], [insert_date], [update_date]) VALUES (4, N'T. Bauer (R)', 5.5, NULL, CAST(N'2017-08-29 14:22:43.700' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[mlb_pitcher] OFF
SET IDENTITY_INSERT [dbo].[mlb_team] ON 

INSERT [dbo].[mlb_team] ([id_team], [team_name], [insert_date], [L10], [actualPosition], [league], [division], [last_update_date], [win], [lost]) VALUES (1, N'Baltimore Orioles', CAST(N'2017-08-29 11:58:32.477' AS DateTime), N'7-3', 3, N'AMERICAN', N'EAST', CAST(N'2017-08-30 15:05:56.287' AS DateTime), 67, 65)
INSERT [dbo].[mlb_team] ([id_team], [team_name], [insert_date], [L10], [actualPosition], [league], [division], [last_update_date], [win], [lost]) VALUES (2, N'Seattle Mariners', CAST(N'2017-08-29 11:58:35.920' AS DateTime), N'4-6', 3, N'AMERICAN', N'WEST', CAST(N'2017-08-30 15:05:56.380' AS DateTime), 66, 67)
INSERT [dbo].[mlb_team] ([id_team], [team_name], [insert_date], [L10], [actualPosition], [league], [division], [last_update_date], [win], [lost]) VALUES (3, N'New York Yankees', CAST(N'2017-08-29 11:58:46.300' AS DateTime), N'5-5', 2, N'AMERICAN', N'EAST', CAST(N'2017-08-30 15:05:56.277' AS DateTime), 70, 61)
SET IDENTITY_INSERT [dbo].[mlb_team] OFF
